{% extends 'main.html' %}

{% block content %}
<!-- {% include 'navbar.html' %} -->

<h1>THE PROJECT TEMPLATE</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
</p>
<hr>
    <h1>Project List</h1>
    <table class="table table-striped">
        <tr>
             <th>ID</th> 
             <th>Project</th> 
             <th>Votes</th> 
             <th>Ratio</th> 
             <th>Created On</th>
             <th></th>  
             <th></th>
             <th></th>        
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{project.id}}</td>
                <td>{{project.title}}</td>
                <td>{{project.vote_total}}</td>
                <td>{{project.vote_ratio}}%</td>
                <td>{{project.created}}</td>
                <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
                <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
                <td><a href="{% url 'project' project.id %}">View</a></td>
            </tr>
        {% endfor %}
    </table>
    <!-- <ul> -->
        <!-- {% for project in projects %} -->
            <!-- <li><a href="{{project.url}}">{{project.title}} ( -->
            <!-- <li>TITLE: <a href="{% url 'project' project.id %}">{{project.title}}</a> -- DESCRIPTION: {{project.description}}</li> -->
        <!-- {% endfor %} -->
    <!-- </ul> -->
<hr>
<!-- <div>
    Hello, {{ msg }}
    <p>
        {% if number > 10 %}
        <p>The Number:{{ number }} is greter then 10 </p>

        {% elif number == 10 %}
        <p>The Number:{{ number }} is equal to 10</p>

        {% else %}
        <p>The Number:{{ number }} is less then 10</p>
        {% endif %}
    </p>
</div> -->
{% endblock content %}

